spring:
   application:
      name: eurekafeginClient

eureka:
   client:
      serviceUrl:
         defaultZone: http://localhost:8761/eureka
      instance:
      preferIpAddress: true
server:
  port: 8888 #注册主机ip而不是主机名